.labelWhite {
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}

.labelOrange {
    color: var(--orange-500);
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
 

.input {
    background-color: var(--orange-500);
    padding: 1rem;
    border: 0;
    color: var(--white);


}
.input:focus {
    outline: none;
}