.container {
    margin-left: 2rem;
    svg {
        color: #FF4949;

    }

    h1 {
        margin-top: 2rem;
        color: #F6F6F6;
        display: inline-block;
        margin-left: 1rem;
        margin-bottom: 2rem;
        
    }
}