.link {
    background-color: var(--white);
    color: var(--orange-600);
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: block;
    min-width: 8rem;
    text-align: center;
}
.link:hover {
    background-color: var(--orange-500);
    color: var(--white);
}